
@{
    ViewData["Title"] = "Практическая работа модуля 19. Главная";
}

<div class="container">
    <div class="menu">
        <div class="menu-links">
            <a class="menu-link" href="Contacts/ContactList">Список контактов</a>
        </div>
    </div>
</div>
